.caja1{
    background-color: white;
    width: 50%;
    text-align: center;
    justify-content: center;
    
}
.cajacaja{
    width: 50%;
    height: auto;
   

}
div p{
    text-align: justify;
}
.cajapadre{display: flex;}
.cajaedit{justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    width: 50%;
}
.rectangulo{
    display: flex;
    background-color: #BF0514;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100;
}
.separationBox{
    
    width: 15%;
    color: white
}
.cajatriple{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15dvh;
}
.imagenAjuste{
    height: 50%;
    width: 50%;
}
.fondoImagen{
    margin-left: 20%;
    margin-top: 30px;
    height: 70px;
    width:  70px;
    background: aquamarine;
      align-items: center;
    justify-content: center;
     display: flex;
}
.redBox{
    background: #BF0514;
}
.blueBox{
    background: #4A6BA1;
}.greyBox{
    background: #C0C0C0;
}
.separador{
    display: flex;
    width: 100%;
    

}
.contacto{
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    
}
.cajitas{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ancho{width: 44%;}

.fuente a {color: white;
text-decoration: none;}

.margen{
    margin-top: 10%;
}
.fijar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
body {
    padding-top: 250px;
}

.separadorplanes{
    display: flex;
    gap: 120px;
    justify-content: center;
}
.alinear{
    text-align: center;
}

.vertical{
    font-size: medium;
    flex-direction: column;
    display: flex;
    align-items: center;
}